body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 8px;
    padding-bottom: 10px;
    border: 4px;
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
}
div:not(#wrapper):not(#characters) {
    display: inline-block;
}